.white-part,
.pink-part {
  max-width: 700px;
}

.experience-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.experience-container p {
  text-align: left;
  font-family: "Joystix", monospace;
}

.exp-title {
  font-size: 25px;
  margin-top: 10px;
  color: #cd5750;
}

.exp-info {
  font-size: 20px;
  margin-top: 10px;
  color: #ee836e;
}

.white-part {
  display: inline-block;
  width: 35vw;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 20px;
  padding-left: 30px;
}

.pink-part {
  display: flex;
  width: 35vw;
  background-image: linear-gradient(#d76660, #f99987);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  padding-left: 30px;
  min-height: 300px;
  box-shadow: inset 0 0 0 6px white;
}

.pink-part li {
  font-family: "Joystix", monospace;
  color: white;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 17px;
}

@media (max-width: 69em) {
  .white-part,
  .pink-part {
    max-width: 1100px;
    width: 60vw;
  }
  .experience-container {
    margin-top: 0px;
  }
}

@media (max-width: 45em) {
  .white-part,
  .pink-part {
    width: 75vw;
  }
  .experience-container {
    margin-top: 0px;
  }
  .pink-part li {
    font-size: 15px;
  }

  .exp-title {
    font-size: 20px;
  }
  .exp-info {
    font-size: 16px;
  }
}
