.project-photo,
.project-title,
.top-title-bar,
.bottom-title-bar {
  max-width: 950px;
}

.project-photo {
  width: 100%;
  object-fit: contain;
  margin-bottom: -5px;
}

.project-title {
  margin-top: 20px;
  font-family: "Joystix", monospace;
  color: white;
  font-size: 27px;
  text-align: center;
  margin-bottom: -90px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.top-title-bar {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.bottom-title-bar {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.music-buttons {
  width: 25px;
  height: 25px;
}
.close {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-left: 15px;
}
.music-buttons:nth-child(2) {
  margin-left: 30px;
  margin-right: 20px;
}

@media (max-width: 69em) {
  .project-photo,
  .project-title,
  .top-title-bar,
  .bottom-title-bar {
    max-width: 550px;
  }
}

@media (max-width: 40em) {
  .project-title {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: -40px;
  }
}
