.background {
  background-image: linear-gradient(
      rgba(173, 45, 45, 0.15),
      rgba(173, 45, 45, 0.15)
    ),
    url("../res/wallpaper.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.box {
  background-color: white;
  display: flex;
  top: max(200px, 25vh);
  position: absolute;
  place-items: center;
  flex-direction: column;
  z-index: 0;
  transition: all 500ms;
}

.stanley {
  height: 200px;
  width: 200px;
  margin-left: 100px;
  margin-bottom: 70px;
  transition: all 500ms;
}

.box-line {
  width: 99%;
  height: 3px;
  background-color: #c14540;
  margin-top: 3px;
}

.box-center {
  background-image: linear-gradient(#d76660, #f99987);
  font-family: "Joystix", monospace;
  text-align: center;
  color: white;
  width: 99%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.first-row {
  display: flex;
  place-items: center;
  margin-top: 70px;
  margin-right: 25px;
  margin-bottom: -10px;
}

.intro {
  font-family: "Joystix", monospace;
  color: #a45050;
  font-size: 28px;
  width: 480px;
  padding-left: 40px;
  padding-bottom: 60px;
}

.second-row {
  display: flex;
  margin-bottom: 50px;
  margin-left: 40px;
}
.star {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}
.special {
  font-family: "Joystix", monospace;
  color: #a45050;
  width: 480px;

  font-size: 18px;
}

/* BIG */
@media (min-width: 100em) {
  .first-row {
    margin-top: 90px;
  }

  .stanley {
    margin-bottom: 90px;
    width: 275px;
    height: 275px;
  }

  .intro {
    font-size: 32px;
    width: 500px;
    padding-left: 80px;
    padding-bottom: 75px;
  }

  .special {
    font-size: 23px;
  }

  .star {
    width: 60px;
    height: 60px;
    margin-top: -5px;
    margin-right: 50px;
  }
}
@media (max-width: 69em) {
  .background {
    animation-duration: 40s;
  }

  .stanley {
    margin: 0;
    padding-bottom: 30px;
  }
  .first-row {
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

@media (max-width: 40em) {
  .intro {
    font-size: 18px;
  }
  .background {
    animation-duration: 60s;
  }

  .intro {
    width: 100%;
    font-size: 17px;
    margin-left: 15px;
  }

  .box {
    width: 80%;
  }

  .star {
    margin: 0;
    width: 30px;
    height: 30px;
    margin-left: -20px;
    margin-right: 10px;
  }

  .background {
    min-height: 900px;
  }

  .first-row {
    margin-top: 20px;
    margin-bottom: -10px;
  }
  .special {
    width: 90%;
    font-size: 12px;
  }
}
