@font-face {
  font-family: "joystix";
  src: url(../public/fonts/joystix.otf) format("opentype"),
    url(../public/fonts/joystix.ttf) format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
